<!-- ESJ02_CRUD / fichier: views/parttals/sidebar.ejs -->
<!--              (MENU Vertical à gauche) ---------- -->
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <!-- sidebar; barre de MENU à gauche -->
    <ul class="nav flex-column">
      <li class="nav-item">
        <!-- lien: index client: '/client/'  (Dashboard = tableau de bord)-->
        <a href="/client/" class="nav-link active" aria-current="page">
          <i class="bi bi-house"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <!-- lien: '/client/about' -->
        <a  href="/client/about" class="nav-link">
          <i class="bi bi-patch-question"></i>
          About
        </a>
      </li>
    </ul>
  </div>
</nav>
